In [1]:
import pandas as pd

In [2]:
tbl_a = pd.DataFrame({'id': [1, 2, 3],
                      'value': ["one", "two", "three"]})
tbl_b = pd.DataFrame({'id': [2, 3, 4],
                      'value': ["zwei", "drei", "vier"]})

## <i>INNER</i>, <i>LEFT</i>, <i>RIGHT</i>, and <i>FULL</i> JOIN

### INNER Join

In [3]:
pd.merge(tbl_a, tbl_b,
         
         #how = 'inner', # default
         
         on = 'id',
         #left_on  = 'id',
         #right_on = 'id',
         
         #suffixes = ['_a', '_b']
        )

   id value_x value_y
0   2     two    zwei
1   3   three    drei

### LEFT Join

In [4]:
pd.merge(tbl_a, tbl_b,
         
         how = 'left',
         
         on = 'id',
         #left_on  = 'id',
         #right_on = 'id',
         
         #suffixes = ['_a', '_b'],
         
         #indicator = True  # add column `_merge` containing either "left_only", or both"
        )

   id value_x value_y
0   1     one     NaN
1   2     two    zwei
2   3   three    drei

### RIGHT Join

In [5]:
pd.merge(tbl_a, tbl_b,
         
         how = 'right',
         
         on = 'id',
         #left_on  = 'id',
         #right_on = 'id',
         
         #suffixes = ['_a', '_b'],
         
         #indicator = True  # add column `_merge` containing either "both", or "right_only"
        )

   id value_x value_y
0   2     two    zwei
1   3   three    drei
2   4     NaN    vier

### FULL Join

In [6]:
pd.merge(tbl_a, tbl_b,
         
         how = 'outer',
         
         on = 'id',
         #left_on  = 'id',
         #right_on = 'id',
         
         #suffixes = ['_a', '_b'],
         
         indicator = True  # add column `_merge` containing either "left_only", "both", or "right_only"
        )

   id value_x value_y      _merge
0   1     one     NaN   left_only
1   2     two    zwei        both
2   3   three    drei        both
3   4     NaN    vier  right_only